<div class="container-about">
  </div>
  <div class="row">
    <div class="large-9-centered columns">
        <br>
        <h3>My name is Andrew Cho.</h3>
        <br>
        <h5>I'm a front-end enginner that truly values the user and their interaction over everything else. Nothing gets me more fired up than working on a project with new technology.</h5>
        <br>
        <p>My humble journey as a developer started by coming home from my college courses and work excited to work with git commands, HTML, and CSS. I've been known to dabble, and explore languages, tools, and frameworks on my own free time by attending many different meetups and getting exposed as much as I can.</p>
        <p>Through my time as an English major in college I picked up invaluable skills like analyzing large sets of text to find their hidden meaning. It was only a short time after having an epiphany of becoming a programmer that I made a thousand mile trip to an accelerated four-month fourty-hour per week vocational school. This is where I spent my time honing my skills equally in the frontend and backend. I've come a long way from learning markdown and git commands to making full fledged web applications.</p>
      <a download="AndrewChoResume.pdf" href="assets/AndrewChoResume.pdf"><button class="btn" id="resume">DOWNLOAD MY RESUME</button></a>
    </div>
</div>
