<div class="container-about">
  <div class="row-about">
    <div col s12>
      <img id="portland-sign" src="/assets/images/forest.png" alt="picture of portland forest"/>
    </div>
    <div class="container">
      <h4>My name is Andrew Cho.</h4>
      <br>
      <h5>I'm a front-end enginner that truly values the user and their interaction over everything else. Nothing gets me more fired up than working on a project with new technology.</h5>
      <br>
      <p>My humble journey as a developer started by coming home from college and work excited to work with basic git commands, HTML, and CSS. I've been known to dabble, and explore languages, tools, and frameworks on my own free time by attending many different meetups and getting exposed as much as I can.</p>
      <p>Through my time as an English major in college I had picked up invaluable skills like analyzing large chunks of text to find the hidden meaning. Only a short time after having my epiphany I made a thousand mile trip to an accelerated four-month fourty-hour per week vocational school where I spent my time honing my skills equally in the frontend and backend. I've come a long way from learning markdown and git commands to making full fledged web applications.</p>
    </div>
  </div>
</div>
