<nav>
  <div class="nav-wrapper azure">
    <h1>
      <a href="/" class="nav-link-logo">AC</a>
    </h1>
    <!-- <a href="#" class="brand-logo">Andrew Cho</a> -->
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li class="nav-link-background">
        {{#link-to 'about'}}<span class="nav-link-color">About</span>{{/link-to}}
      </li>
      <li class="nav-link-background">
        {{#link-to 'contact'}}<span class="nav-link-color">Contact</span>{{/link-to}}
      </li>
    </ul>
  </div>
</nav>

{{outlet}}

<footer>
  <div class="icons-column">
    <ul class="social-links">
      <li>
        <a href="https://www.facebook.com/andychochocho">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x" id="facebook-icon-border"></i>
            <i class="fa fa-facebook fa-stack-1x icon-color" id="facebook-icon"></i>
          </span>
        </a>
        <a href="https://twitter.com/andychochocho">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x" id="twitter-icon-border"></i>
            <i class="fa fa-twitter fa-stack-1x icon-color" id="twitter-icon"></i>
          </span>
        </a>
        <a href="https://www.linkedin.com/in/andychochocho">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x" id="linkedin-icon-border"></i>
            <i class="fa fa-linkedin fa-stack-1x icon-color" id="linkedin-icon"></i>
          </span>
        </a>
        <a href="https://github.com/Andychochocho">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x" id="github-icon-border"></i>
            <i class="fa fa-github fa-stack-1x icon-color" id="github-icon"></i>
          </span>
        </a>
        <span id="meetup-icon">
          <a href="http://www.meetup.com/members/201390501/">
            <img src="assets/images/meetup.png"/>
          </a>
        </span>
      </li>
    </ul>
  </div>
</footer>
