<nav>
    <div class="nav-wrapper white">
      <!-- <a href="#" class="brand-logo">Andrew Cho</a> -->
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          {{#link-to 'index'}}<span class="nav-link-color">About</span>{{/link-to}}
        </li>
        <li>
          <a href="#"><span class="nav-link-color">Contact</span></a>
        </li>
      </ul>
    </div>
  </nav>

{{outlet}}

{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}
