<div class="large-12 columns">
  <p>Please contact me at any time at</p>
  <span class="email-me"><a href="mailto:cho-andrew@hotmail.com">cho-andrew@hotmail.com</a></span>
<hr>
<p>Or through such mediums below:</p>
</div>
