<div class="container-home">
  <div class="row-home">
    <div class="col s12">
      <img src="https://www.sochiie.com/wp-content/uploads/2014/04/facebook-teerasej-profile-ball-circle.png" alt="random asian guy" />
      <h3>On the intersection between science and technology.</h3>
      <h4>Front-end & Back-end</h4>
    </div>
  </div>
</div>
