<div class="container-home">
  <div class="row-home">
    <div class="col s12">
      <img src="assets/images/pic.jpg" alt="picture of myself" />
      <h3>On the intersection between science and technology.</h3>
      <p>User Experience | Front end | Back end </p>
    </div>
  </div>
</div>
